@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Rubik:400,500,700')
@import url('https://fonts.googleapis.com/css?family=Lora:400i,700i');
// color
$primary-color: #e4223f
$white : #ffffff
$blue: #6dc4f2 
$green: #32d5ba
$red: #f44336
$yellow: #ffd13c

//gradient color
$primary-gradient-color: linear-gradient(to right,#005aff,#f8598b 50%,#f7bf00)
//resposive
$phone: "only screen and (max-width : 320px)"
$lg-phone: "only screen and (max-width : 425px)"
$tablet: "only screen and (max-width : 768px)"